<mat-tab-group>
  <mat-tab label="Employees">
    <h2> Employees </h2>
    <mat-list>
      <mat-list-item>
        <div style="width:100%; display:flex; align-items:center; justify-content:space-between;">
          <span>Employee Name - Employee Department - Company - Salary</span>
          <span>
          </span>
        </div>
      </mat-list-item>
    <mat-list-item>
        <div style="width:100%; display:flex; align-items:center; justify-content:space-between;">
          <span>Employee Name - Employee Department - Company - Salary</span>
          <span>
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="Add Employee">
    <form class="mat-elevation-z2" style="padding:16px; margin-bottom:24px;">
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Employee First Name</mat-label>
        <input matInput name="firstName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Employee Last Name</mat-label>
        <input matInput name="lastName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Employee Department</mat-label>
        <input matInput name="department" required />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Employee Company</mat-label>
        <input matInput name="company" required />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Employee Salary</mat-label>
        <input matInput name="salary" required type="number" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Employee </button>
    </form>
  </mat-tab>
</mat-tab-group>
