<mat-tab-group>
  <mat-tab label="Candidates">
    <h2>Candidates</h2>
    <mat-list>
      <mat-list-item>
        <div style="width:100%; display:flex; align-items:center; justify-content:space-between;">
          <span>Candidates Name - Candidates Applied postion</span>
          <span>
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="Add Candidate">
    <form class="mat-elevation-z2" style="padding:16px; margin-bottom:24px;">
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Candidate name</mat-label>
        <input matInput name="candidateName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Candidate Applied Position</mat-label>
        <input matInput name="candidateAppliedPosition" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Candidate</button>
    </form>
  </mat-tab>
</mat-tab-group>
