<mat-tab-group>
  <mat-tab label="Departments">
    <h2>Departments</h2>
    <mat-list>
      <mat-list-item *ngFor="let department of departments">
        <div  style="width:100%; display:flex; align-items:center; justify-content:space-between;">
          <span>{{ department.departmentName }} - {{ department.companyName }}</span>
          <span>
            <button mat-icon-button color="warn" (click)="delete(department.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="Add Department">
    <form (ngSubmit) = "add()" class="mat-elevation-z2" style="padding:16px; margin-bottom:24px;">

      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Department Name</mat-label>
        <input matInput name="departmentName" [(ngModel)] = "newDepartmentName"  type = "" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right:16px;">
        <mat-label>Companies </mat-label>
      <mat-select 
      name = " CompanyName "
      [(ngModel)] = "newDepartmentCompanyId"
      >
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{ company.name }}
        </mat-option>
      </mat-select>

      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Department</button>
    </form>
  </mat-tab>
</mat-tab-group>
